*{
	margin: 0px;
	padding: 0px;
}
#header{
	margin: 0px 10px;
	padding: 20px;
	border: 1px solid#666;
	background-color: #006699;
	color: #fff;
	<!--position: fixed/absolute;-->
	top: 100px;
	left: 100px;
}

#main_section{
	margin: 10px;
	padding: 20px;
	border: 1px solid#666;
	background-color: #006699;
	color: #fff;
}
#footer{
	margin: 10px;
	padding: 20px;
	border: 1px solid#666;
	background-color: #006699;
	color: #fff;
}