h1{ 
    text-align:center;
  }
  
  
  
  
  
  .logimg img
  {
      position: absolute;
      top: 9%;
      left: 65%;
      height: 75px;
      width: 76px;
  }
  
  
      
      
  
  .button
  {
      position: Absolute;
      top:108%;
      left:58%;
      
      
  }
  
  