p{color: #fff; background-color: blue;  
font-family: 'Lobster', cursive;
font-size: 18px;
font-weight: bold;}

body{color: #fff; background-color: blue;  
font-family: 'Lobster', cursive;
font-size: 18px;
font-weight: bold;}